* {
  margin: 0;
  padding: 0;
}

.head {
  text-align: center;
  color: peru;
  background-color: royalblue;
  letter-spacing: 3px;
}

.count {
  text-align: center;
  background-color: peru;
  color: royalblue;
  letter-spacing: 3px;
}

.btn {
  text-align: center;
  width: 100px;
  height: 30px;
  color: cornsilk;
  background-color: black;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 110px;
  outline: none;
}

.btn:hover {
  text-align: center;
  width: 101px;
  height: 30px;
  color: black;
  background-color: cornsilk;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 4px;
  outline: none;
  border-color: lightcoral;
}
